body {
    padding-top: 50px;
    padding-bottom: 20px;
}

p.loadingtext {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

#loadingContainer {
    max-width: 100px;
    padding-right: 15px;
    padding-left: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-right: 15px !important; 
    margin-left: 15px !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.productcol{
	height:315px;
}
.vcenter{
    padding-top:10%;
  }

.hcenter{
    margin-left:auto;
    margin-right:auto;
}
  
.contentColContainer {
	background-color: #f1f1f1;
	width: 100%;
    overflow:hidden;
}

.filtersColContainer {
    padding: 15px 0 15px 15px;
	background-color: #f1f1f1;
	width: 100%;
}

.filtersColContainer label{
    padding-left: 15px;
}

.contentCollumn3{
	width: 33.33%;
	float: left;
	padding: 20px;
	text-align: center;
    height: 450px;
}

.contentCollumn2{
	width: 50%;
	min-height: 415px;
    padding: 20px;
	float: left;
	position:relative;
	text-align: center;
}

.chartCanvas {
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
  }

.financetable{
    font-size: 1.5em;
    display: flex;
    padding-left:50px;
    align-items: center;
    
}

.financetable td{
    padding: 10px;
}

.financetable th{
    padding: 10px;
    font-weight: normal !important;
}

.financetable tr:nth-child(even) {
    background-color: lightgrey;
}

.financetable tr:nth-child(even) td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.financetable tr:nth-child(even) td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.financetable span {
    font-weight: bold;
}

